<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/administrative_panel.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <title>Painel Administrativo - Pet Social ONG Patinha de Ruas</title>
</head>

<body>
    <div data-aos="fade-down">
        <header class="header container">
            <div class="header-logo">
                <a href="../index.html" target="_blank"><img src="../assets/logo.png" alt="Logo da ONG"></a>
            </div>

            <div class="header-actions">
                <a href="./create_adm.html" class="btn-header">
                    <i class="ph ph-users-three"></i>
                </a>
                <button class="btn-header btn-logout">
                    <i class="ph ph-sign-out"></i>
                </button>
            </div>
        </header>
    </div>

    <div class="table-wrapper container" data-aos="fade-up">
        <div class="search-container">
            <h2>Animais registrados</h2>

            <div class="group-btn">
                <a href="./tutor_registre.html" class="btn-header">
                    <i class="ph ph-user-circle-plus"></i>
                </a>
                <a href="./pet_registre.html" class="btn-header">
                    <i class="ph ph-dog"></i>
                </a>
            </div>
        </div>

        <div id="table-container"></div>
    </div>

    <div id="logoutModal" class="modal hidden">
        <div class="modalLogout">
            <h2>Deseja realmente sair?</h2>
            <p>Você será desconectado da plataforma.</p>
            <div class="modal-buttons">
                <button id="confirmLogout" class="btn-danger">Sair</button>
                <button id="cancelLogout" class="btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>

    <script src="../js/administrative_panel.js"></script>
    <script src="../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</body>

</html>