<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/find_pet.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <title>Procurar Id - Pet Social ONG patinhas de Rua</title>
</head>

<body>
    <div class=" box-find">
        <h3>Procure pelo ID</h3>

        <form id="microchipForm">
            <div class="input-container">
                <i class="ph ph-dog"></i>
                <input type="text" placeholder="Número do Microchip" maxlength="15"  id="id-pet" />
            </div>

            <button type="submit" class="btn-primary">Consultar</button>
        </form>

        <a href="../index.html">Voltar para o home</a>
    </div>

    <script src="../js/find_pet.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</body>

</html>