<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/pet_not_found.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <title>Resultado - Pet Social ONG patinhas de Rua</title>
</head>

<body>
    <div class="container box-feedback">
        <h3 class="title-not-find">Id não encontrado</h3>

        <div>
            <a href="./find_pet.html" class="btn-home purple">Consultar outro Id</a>
            <a href="../index.html" class="btn-home">Voltar para o home</a>
        </div>
    </div>

    <script src="../js/pet_found.js"></script>
</body>

</html>